{% extends 'winedb/base.html' %}

{% block content %}
<style>

</style>

<table class="table table-striped">
    <tr>
        <th scope="col">Producer</th>
        <th scope="col">Name</th>
        <th scope="col">Country</th>
        <th scope="col">Region</th>
        <th scope="col">Available Bottles</th>

    </tr>
    {% for wine in wines %}
    <tr>
        <td>
            <a href="{% url 'wine_detail' wine.id %}"> {{ wine.producer }} </a>
        </td>

        <td>

    {{ wine.name }}
        </td>

         <td>

    {{ wine.producer.referring_producer_country }}
        </td>

        <td>

    {{ wine.producer.referring_producer_region }}
        </td>

        <td>

    {{ wine.available_bottle }}
    </tr>
    {% endfor %}

{% endblock %}